# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# TMDB
TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=

# Google OAuth
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=

# Sentry
EXPO_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# OMDB (external ratings)
OMBD_API_KEY=

# RevenueCat
STRIPE_PUBLIC_API_KEY=
REVENUECAT_WEBHOOK_SECRET=

# PostHog
EXPO_PUBLIC_POSTHOG_API_KEY=
EXPO_PUBLIC_POSTHOG_HOST=

# Discord webhook URL for moderation alerts
EXPO_PUBLIC_DISCORD_MODERATION_WEBHOOK=
